.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px calc(100% - 70px);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header__logo{
  width: 25px;
  margin-left: 15px;
}
.App-header{
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.App-header div{
text-align: right;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-customers{
  display: grid;
  height: fit-content;
  grid-template-columns: max-content;
  justify-content: center;
  gap: 15px;
}
.App-customers div{
  text-align: left;
}
.App-customers div a{
  text-decoration: none;
  color: wheat;
}
.App-customers div a:hover{
  color: goldenrod;
}